.download-section {
    background-color: #3d51e3; /* Asosiy ko'k fon */
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    font-family: 'Inter', sans-serif;
}

.download-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-50);
    width: 100%;
}


/* Rasm joylashgan blok */
.illustration-box {
    flex: 1;
    display: flex;
    justify-content: center;
}

.illustration-box img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

/* Glassmorphism Forma */
.form-title {
    color:var(--white);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-700);
    text-align: center;
    margin-bottom: 45px;
    line-height: 1.3;
}
.glass-form-card {
    flex: 1;
    background: rgba(255, 255, 255, 0.18); /* Shaffof oq fon */
    backdrop-filter: blur(12px); /* Orqa fonni xiralashtirish */
    -webkit-backdrop-filter: blur(12px);
    border-radius: 45px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 500px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* gap: var(--gap-30); */
    align-items: center;
    justify-content: center;

    
   
}

.glass-form-card form > input, button, select {
    max-width: 100%;
    padding: 15px;
    height: 50px;
    font-size: 18px;
}






.glass-form-card > div{
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: var(--white);
    line-height: 50px;
    padding: 0px;
    margin: 0px;
    h2{
        display: none;
    }
    p{
        display: none;
    }
    button{
        width: 100%;
        transition: all 0.3s ease;
        

        &:hover{
            background-color: var(--dark-primary-color);
            transform: scale(1.03);
        }
    }
}










/* RESPONSIVE (Moslashuvchanlik) */
@media (max-width: 1024px) {
    .download-container {
        gap: var(--gap-40);
    }
    .form-title {
        font-size: var(--font-size-25);
    }
}

@media (max-width: 968px) {
    .download-container {
        flex-direction: column;
        text-align: center;
    }
    .glass-form-card {
        width: 100%;
        max-width: 100%;
        padding: 40px 30px;
    }
    .illustration-box img {
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .download-section {
        padding: 60px 15px;
    }
    .form-title {
        font-size: var(--font-size-20);
        margin-bottom: 30px;
    }
    .form-input, .download-submit-btn {
        padding: 18px;
        font-size: var(--font-size-15);
    }
}