
.cowerking{
    padding: 50px 0px;
}

.cowerking h1{
    padding-top: 50px !important;
}


.cowerking-img-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-20);

}

.cowerking-img-bar > div{
    width: 50%;
    object-fit: contain;

    img{
        width: 100%;
        border-radius: 10px;
    }
}

.cowerking-img-bar > .left{

   img{
    margin-top: 4px;
    height: 600px;
   }
}

.cowerking-img-bar > .right{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 20px;

   img{
    height: 290px;

   }
}


@media(max-width: 600px){
    .cowerking h1{
    padding-top: 0px !important;
}

.cowerking-img-bar{
    flex-direction: column;
}
.cowerking-img-bar > div{
    width: 100%;
}

    .cowerking-img-bar img{
        max-width: 600px !important;
        width: 100% !important;
        margin: 0px;
        object-fit: cover;
        height: auto !important;
        margin: 0;
    }
}
